p { 
font-family: sans-serif;
color: #4000FF:
}
#awesomeText { font-family: 'Times New Roman', Georgia, Serif; }
.soft {color: #4000FF; }
.center { text-align: center; }
.container {margin: 0 auto: } 